# TO Delete if release
bin

iotkit-embedded.pkgs

# Compile intermediate file
.output
*.d
*.o
*.a

# Config file
.settings
.project
.cproject

# IDF compile output
examples/*/build/*

# iotkit-embedded compile output
components/aliyun/iotkit-embedded.pkgs

# config
sdkconfig
sdkconfig.old
