menu "Aliyun IOT SDK"

    config ALIYUN_IOT_SDK
        bool "IDF support aliyun iot sdk"
        default n
        help
            IDF support aliyun iot sdk.

    config ALIYUN_FIRMWARE_VERSION
        depends on ALIYUN_IOT_SDK
        string "Device version"
        default "0.0.1"
        help
            aliyun device version

    menu "Aliyun device key"
    depends on ALIYUN_IOT_SDK
        config ALIYUN_PRODUCT_KEY
            string "Aliyun product key"
            default "xxxx"
            help
                Aliyun product key.

        config ALIYUN_PRODUCT_SECRET
            string "Aliyun product secret"
            default "xxxx"
            help
                Aliyun product secret.

        config ALIYUN_DEVICE_NAME
            string "Aliyun device name"
            default "xxxx"
            help
                Aliyun device name.

        config ALIYUN_DEVICE_SECRET
            string "aliyun device secret"
            default "xxxx"
            help
                Aliyun device secret.
    endmenu

    menu "Aliyun awss config"
    depends on ALIYUN_IOT_SDK
        config ALIYUN_AWSS_TIMEOUT_INTERVAL_MS
            int "Get the timeout period of the distribution service (`AWSS`), in milliseconds"
            range 0 1800000
            default 180000
            help
                Get the timeout period of the distribution service (`AWSS`), in milliseconds

        config ALIYUN_AWSS_CHANNELSCAN_INTERVAL_MS
            int "Get the length of time scanned on each channel (`channel`), in milliseconds"
            range 0 1000
            default 200
            help
                Get the length of time scanned on each channel (`channel`), in milliseconds
    endmenu

    menu "Aliyun netwoek config"
    depends on ALIYUN_IOT_SDK
        config ALIYUN_TCP_ESTABLISH_TIMEOUT_MS
            int "Device tcp connection timeout wait time milliseconds"
            range 0 100000
            default 10000
            help
                Device tcp connection timeout wait time milliseconds

        config ALIYUN_TLS_ESTABLISH_TIMEOUT_MS
            int "Device tls connection timeout wait time milliseconds"
            range 0 100000
            default 10000
            help
                Device tls connection timeout wait time milliseconds
        config ALIYUN_TLS_HANDSHAKE_TIMEOUT
            int "Device tls handshake timeout wait time seconds"
            range 0 65535
            default 180
            help
                Default tls handshake timeout to host in seconds
    endmenu

    menu "Aliyun hal config"
    depends on ALIYUN_IOT_SDK
        config ALIYUN_HAL_SEM_MAX_COUNT
            int "The maximum count value that can be reached of the semaphore"
            range 0 255
            default 255
            help
                The recommended value of maximum count of the semaphore is 255

        config ALIYUN_HAL_SEM_INIT_COUNT
            int "The count value assigned to the semaphore when it is created"
            range 0 10
            default 0
            help
                The recommended value of count of the semaphore is 0
    endmenu

endmenu