menu "iotkit embedded"

config HAL_SEM_MAX_COUNT
    int "The maximum count value that can be reached of the semaphore"
    default 255
    range 0 255
    help
        The recommended value of maximum count of the semaphore is 255

config HAL_SEM_INIT_COUNT
    int "The count value assigned to the semaphore when it is created"
    default 0
    range 0 10
    help
        The recommended value of count of the semaphore is 0
config HAL_TLS_HANDSHAKE_TIMEOUT
    int "TLS Handsake Timeout"
    default 180
    range 0 65535
    help
        Default TLS handshake timeout to host in seconds

endmenu