# Default sdkconfig parameters to use the OTA
# partition table layout, with a 4MB flash size
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_TWO_OTA=y

CONFIG_NEWLIB_LIBRARY_LEVEL_NORMAL=y
CONFIG_ENABLE_PTHREAD=y
CONFIG_SSL_USING_WOLFSSL=y

#
# Aliyun IOT SDK
#
CONFIG_ALIYUN_IOT_SDK=y
CONFIG_ALIYUN_FIRMWARE_VERSION="0.0.1"

#
# Aliyun device key
#
CONFIG_ALIYUN_PRODUCT_KEY="xxxx"
CONFIG_ALIYUN_PRODUCT_SECRET="xxxx"
CONFIG_ALIYUN_DEVICE_NAME="xxxx"
CONFIG_ALIYUN_DEVICE_SECRET="xxxx"

#
# Aliyun awss config
#
CONFIG_ALIYUN_AWSS_TIMEOUT_INTERVAL_MS=180000
CONFIG_ALIYUN_AWSS_CHANNELSCAN_INTERVAL_MS=200

#
# Aliyun netwoek config
#
CONFIG_ALIYUN_TCP_ESTABLISH_TIMEOUT_MS=10000
CONFIG_ALIYUN_TLS_ESTABLISH_TIMEOUT_MS=10000
CONFIG_ALIYUN_TLS_HANDSHAKE_TIMEOUT=180

#
# Aliyun hal config
#
CONFIG_ALIYUN_HAL_SEM_MAX_COUNT=255
CONFIG_ALIYUN_HAL_SEM_INIT_COUNT=0
