# ignore make warning
CONFIG_MAKE_WARN_UNDEFINED_VARIABLES=

# newlib for ESP32 and ESP8266 platform

CONFIG_NEWLIB_ENABLE=y
CONFIG_NEWLIB_LIBRARY_LEVEL_NORMAL=y
CONFIG_NEWLIB_NANO_FORMAT=

# disable lwip multithread for RTOS
CONFIG_LWIP_SOCKET_MULTITHREAD=
