CONFIG_ESPTOOLPY_BAUD_921600B=y
CONFIG_AWSS_CHANNELSCAN_INTERVAL_MS=100
CONFIG_SNTP_RETRY_TIMEOUT=500
CONFIG_SNTP_RETRY_MAX=20
CONFIG_LWIP_DHCP_MAX_NTP_SERVERS=3
CONFIG_AWSS_TIMEOUT_INTERVAL_MS=60000
CONFIG_TIMER_TASK_STACK_DEPTH=3072
CONFIG_TCP_SYNMAXRTX=3
