CONFIG_NEWLIB_LIBRARY_LEVEL_NORMAL=y
CONFIG_ENABLE_PTHREAD=y
CONFIG_ESPTOOLPY_BAUD_921600B=y
CONFIG_AWSS_TIMEOUT_INTERVAL_MS=60000
CONFIG_ESP32_PTHREAD_TASK_STACK_SIZE_DEFAULT=6144
CONFIG_TCP_SYNMAXRTX=3
CONFIG_FREERTOS_TIMER_STACKSIZE=3072
CONFIG_AWSS_CHANNELSCAN_INTERVAL_MS=100
CONFIG_SNTP_RETRY_TIMEOUT=500
CONFIG_SNTP_RETRY_MAX=20
CONFIG_LWIP_DHCP_MAX_NTP_SERVERS=3
CONFIG_TCP_HIGH_SPEED_RETRANSMISSION=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_esp8266.csv"
CONFIG_SUPPORT_TCP=y
CONFIG_MBEDTLS_DYNAMIC_BUFFER=y
CONFIG_MBEDTLS_DYNAMIC_FREE_PEER_CERT=y
