CONFIG_NEWLIB_LIBRARY_LEVEL_NORMAL=y

CONFIG_ENABLE_PTHREAD=y

CONFIG_SSL_USING_WOLFSSL=y

CONFIG_ESPTOOLPY_BAUD_921600B=y
CONFIG_ESPTOOLPY_BAUD=921600

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_TWO_OTA=y
