CONFIG_NEWLIB_LIBRARY_LEVEL_NORMAL=y

CONFIG_ENABLE_PTHREAD=y

CONFIG_SSL_USING_WOLFSSL=y

CONFIG_ESPTOOLPY_BAUD_921600B=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_esp8266.csv"